@using CustomerMP.UI.Views.Models
@model List<CustomerModel>
@{
    Layout = null;

}
<head>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
@*<style>
/*.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;}*/ /* Green */

/*input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input[type=text]:focus {
  background-color: lightblue;
}*/


</style>*@

<div class="pl-4 pt-4">
    <h3 class="bold">Müşteriler</h3>
    <table  class="table" >
        <thead class="bg-light">
            <tr class="border-1">
                <th class="border-1">Tc</th>
                <th class="border-1">Ad</th>
                <th class="border-1">Soyad</th>
                <th class="border-1">E-Mail</th>
                <th class="border-1">Ev Telefonu</th>
                <th class="border-1">İş Telefonu</th>
                <th class="border-1">Mobil Telefon</th>
                <th class="border-1">Ev Adresi</th>
                <th class="border-1">İş Adresi</th>
                <th class="border-1">Sıradışı İsim mi?</th>
                <th class="border-1"><i class="fas fa-trash" style="color:red"></i></th>
                <th class="border-1"><center><i class="fas fa-pen" style="color:blue"></i></center></th>


            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Tc</td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Email</td>
                <td>@item.HomePhoneNo</td>
                <td>@item.WorkPhoneNo</td>
                <td>@item.MobilePhoneNo</td>
                <td>@item.HomeAdress</td>
                <td>@item.WorkAdress</td>
                <td>@item.Siradisimi</td>
                <td><a href="/Customer/DeleteCustomer/@item.Id" onclick="return confirm('Silmek istediğine emin misin?');" style="color:red" >Sil</a></td>
                <td><a href="/Customer/UpdateCustomer/@item.Id" style="color:blue">Güncelle</a></td>



            </tr>
        }
    </table>

<br />

<div class="md-5">
    <hr size="2" />
<h3 class="bold">Müşteri Ekle</h3>

    <br />
    <form method="post">

       <div class="row">

         <div class="col-md-6 mb-1 pl-3">
                <label style="padding-right:45px;">Adınız: </label>
                <input type="text"  class="col-sm-4 form-control" name="Name" placeholder="" required="" />
            </div>
            <br />
            <div class="col-md-6 mb-1 pl-3">
                <label>Tc Kimlik No: </label>
                <input maxlength="11" type="text" class="col-sm-4 form-control" name="Tc" placeholder="" required="" />
            </div>
            <br />
          

            <div class="col-md-6 mb-1 pl-3">
                <label style="padding-right:25px;">Soyadınız: </label>
                <input type="text" class="col-sm-4 form-control"  name="Surname" placeholder="" required="" />
            </div>
            <br />

            <div class="col-md-6 mb-1 pl-3">
                <label style="padding-right:43px;">E-Mail: </label>
                <input type="email" class="col-sm-4 form-control"  name="Email" placeholder="" required="" />
            </div>
            <br />

            <div class="col-md-6 mb-1 pl-3">
                <label style="padding-right:10px;">Ev Telefonu: </label>
                <input type="text" class="col-sm-4 form-control" name="HomePhoneNo" placeholder="" required="" />
            </div>
            <br />

            <div class="col-md-6 mb-1 pl-3">
                <label style="padding-right:17px;">İş Telefonu: </label>
                <input type="text" class="col-sm-4 form-control" name="WorkPhoneNo" placeholder="" required="" />
            </div>
            <br />

            <div class="col-md-6 mb-1 pl-3">
                <label style="padding-right:49px;">Mobil: </label>
                <input maxlength="11" type="text" class="col-sm-4 form-control" name="MobilePhoneNo" placeholder="" required="" />
            </div>
            <br />

            <div class="col-md-6 mb-1 pl-3">
                <label style="padding-right:25px;">Ev Adresi: </label>
                <input type="text" class="col-sm-4 form-control" name="HomeAdress" placeholder="" required="" />
            </div>
            <br />

            <div class="col-md-6 mb-1 pl-3">
                <label style="padding-right:31px;">İş Adresi: </label>
                <input type="text" class="col-sm-4 form-control" name="WorkAdress" placeholder="" required="" />
            </div>
            <br />

            <div class="col-md-6 mb-1 pt-5 pl-3">
                <button type="submit" class="btn btn-success">Kaydet</button>
            </div>
        </div>
    </form>
</div>
</div>